<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Crypto Exchange - Home</title>
  <!-- 외부 CSS 파일 링크  -->
  <link th:href="@{/css/style.css}" rel="stylesheet" >
</head>
<body>
<div class="container">
  <h1>Welcome to My Crypto Exchange</h1>

  <!-- 계좌 내역 섹션 -->
  <div class="account-info">
    <h2>My Account Info</h2>
    <p>Available Balance: <strong th:text="${availableBalance}"></strong></p>
  </div>

  <!-- 비트코인 차트 섹션 -->
  <div class="bitcoin-chart">
    <h2>Bitcoin Chart</h2>
    <button class="chart-button" th:onclick="|location.href='@{/chart}'|">Go to Chart</button>
    <p>Price: <strong th:text="${BTC.trade_price_format}"></strong></p>
    <p>24h Change: <strong th:text="${BTC.signed_change_rate_format}"></strong></p>
  </div>

  <!-- 다른 코인들의 정보 섹션 -->
  <div class="coin-info">
    <div class="coin-header">
      <h2>Other Coins Info</h2>
      <!-- 필터 버튼 섹션을 h2 텍스트 오른쪽 끝에 배치 -->
      <div class="filter-buttons">
        <button id="volumeButton" onclick="sortByValue()">trading value ⇳</button>
        <button id="changeButton" onclick="sortByChange()">change % ⇳</button>
      </div>
    </div>
    <ul class="coin-list" id="ticker-list">
      <li th:each="ticker : ${tickers}" th:attr="value=${ticker.acc_trade_price},change=${ticker.signed_change_rate}" class="ticker-row">
        <strong th:text="${ticker.market}"></strong><br>
        Price: <span th:text="${ticker.trade_price_format}"></span> |
        24h Change: <span th:text="${ticker.signed_change_rate_format}"></span> |
        24h Volume : <span th:text="${ticker.acc_trade_volume_format}"></span>
      </li>
    </ul>
  </div>
</div>
<script>
  let sortValueState = 0;
  let sortChangeState = 0;
  let originalOrder = [];

  window.onload = function() {
            originalOrder = Array.from(document.querySelectorAll('.ticker-row'));
        };

  function sortByValue() {
    let tickersArray = Array.from(document.querySelectorAll('.ticker-row'));
    let itemsContainer = document.getElementById('ticker-list');

    if (sortValueState === 0) {
      tickersArray.sort((a,b) => {
        let valueA = parseFloat(a.getAttribute('value'));
        let valueB = parseFloat(b.getAttribute('value'));
        return valueA - valueB;
      });
      sortValueState = 1;
    } else if (sortValueState === 1) {
      tickersArray.sort((a,b) => {
        let valueA = parseFloat(a.getAttribute('value'));
        let valueB = parseFloat(b.getAttribute('value'));
        return valueB - valueA;
      });
      sortValueState = 2;
    } else {
      itemsArray = originalOrder;
      sortValueState = 0;
    }

    itemsContainer.innerHTML = '';
    tickersArray.forEach(item => itemsContainer.appendChild(item));
  }

  function sortByChange() {
    let tickersArray = Array.from(document.querySelectorAll('.ticker-row'));
    let itemsContainer = document.getElementById('ticker-list');

    if (sortChangeState === 0) {
      tickersArray.sort((a,b) => {
        let changeA = parseFloat(a.getAttribute('change'));
        let changeB = parseFloat(b.getAttribute('change'));
        return changeA - changeB;
      });
      sortChangeState = 1;
    } else if (sortChangeState === 1) {
      tickersArray.sort((a,b) => {
        let changeA = parseFloat(a.getAttribute('change'));
        let changeB = parseFloat(b.getAttribute('change'));
        return changeB - changeA;
      });
      sortChangeState = 2;
    } else {
      itemsArray = originalOrder;
      sortChangeState = 0;
    }

    itemsContainer.innerHTML = '';
    tickersArray.forEach(item => itemsContainer.appendChild(item));
  }
</script>
</body>
</html>
